<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
  
        <property name="connection.url">jdbc:postgresql://localhost:5432/latexart_test?createDatabaseIfNotExist=true;useUnicode=yes;characterEncoding=UTF-8</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">cjsmitbd</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="ua.org.smit.gallerytlx.album.AlbumInfo" />
        <mapping class="ua.org.smit.gallerytlx.album.image.ImageInfo" />
        <mapping class="ua.org.smit.gallerytlx.user.photomodel.PhotomodelInfo" />
        <mapping class="ua.org.smit.gallerytlx.tag.Tag" />
 
    </session-factory>
</hibernate-configuration>